APP_URL="MY_APP_URL"
APP_NAME="MY_APP_NAME"

DEV_MODE="true"

# ClickUp
CLICKUP_URL="https://n8n.octasystem.com.br/webhook/clickup/task"
CLICKUP_USER="YOUR_CLICKUP_USER"
CLICKUP_PASS="YOUR_CLICKUP_PASSWORD"
CLICKUP_LIST_ID="YOUR_CLICKUP_LIST_ID"